<mat-toolbar class="main__header">
  <button class="fas fa-arrow-left back-button"></button>
  <button class="toggle-button">
    <span class="toggle-button__bar"></span>
    <span class="toggle-button__bar"></span>
    <span class="toggle-button__bar"></span>
  </button>
  <div class="main-header__brand app-name">SHARK DATA 1.0</div>
  <nav class="main-nav">
    <ul class="main-nav__items">
      <li class="main-nav__item main-nav__item--cta">
        <img src="../../assets/images/animals-shark-icon-1.png" class="icon-medium">
      </li>
    </ul>
  </nav>
  <nav class="mobile-nav">

  </nav>


</mat-toolbar>
